{% extends 'base.html' %}
{% block title %}Blog - Criar Perfil{% endblock %}
{% block content %}


<h1>Create Profile Page</h1>
{% if user.is_authenticated %}
    
    <br><br>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Criar Perfil</button>
        </form>
    </div>

{% else %} 
    <br><br>
    <h3>Você não tem permissão para criar um perfil!</h3>
    <p>Volte para o Home</p>
    <a href="{% url 'home' %}">Clique aqui para retornar</a>
{% endif %}

{% endblock %}


