{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Edit Profile Page{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <h1>Editar Perfil - {{user.first_name }}</h1>
        {% if user.id == profile.user.id %}
            <hr>
            <div class="form-group">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <hr>
                    <button class="btn btn-secondary">Editar Perfil</button>
                </form>
            </div>

        {% else %} 
            <br><br>
            <h3>Você não está logado com a conta certa para editar este perfil!</h3>
            <p>Volte para o Home</p>
            <a href="{% url 'home' %}">Clique aqui para retornar</a>
        {% endif %}
    {% else %} 
        
    <h3>Você não está logado com a conta certa para editar este perfil!</h3>
    <p>Volte para o Home</p>
    <a href="{% url 'home' %}">Clique aqui para retornar</a>
        
<hr>
    {% endif %}

{% endblock %}


