{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Perfil {{ page_user }}{% endblock %}
{% block content %}

<h1>Perfil de Usuário - {{ page_user.user.first_name }} {{ page_user.user.last_name }}</h1>

<hr>
<br>

<div class="post-footer mb-3">
    <div class="post-author text-center">
        <div class="author-avatar">
            {% if  page_user.profile_pic  %}
                <img src="{{ page_user.profile_pic.url }}" class="rounded" alt=""  >
            {% else %}
                <img src="{% static 'theblog/images/default-profile-picture.png' %}" class="rounded" alt="" >
            {% endif %}
        </div>

        <div class="author-info py-2">
            <h3 class="text-dark">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h3>

            <p class="text-secondary secondary-title" style="width: 80%; margin: 5px auto;">
                {{ page_user.bio }}
            </p>
            <br><br>
            <h4 class="text-align: center;">Redes sociais</h4>
            <div class="post-tags d-flex flex-wrap justify-content-center"> 
                {% if page_user.facebook_url  %}
                    <a href="{{ page_user.facebook_url }}" target="_blank" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                {% endif %}

                {% if page_user.twitter_url %}
                    <a href="{{ page_user.twitter_url }}" target="_blank" class="nav-link"><i class="fab fa-twitter"></i></a>
                {% endif %}
                
                {% if page_user.instagram_url %}
                    <a href="{{ page_user.instagram_url }}" target="_blank" class="nav-link"><i class="fab fa-instagram"></i></a>
                {% endif %}
                
                {% if page_user.website_url %}
                    <a href="{{ page_user.website_url }}" target="_blank" class="nav-link"><i class="fab fa-dribbble"></i></a>
                {% endif %}
                
                {% if page_user.pintterest_url %}
                    <a href="{{ page_user.pintterest_url }}" target="_blank" class="nav-link"><i class="fab fa-pinterest"></i></a>
                {% endif %}
                
                {% if page_user.github_url %}
                    <a href="{{ page_user.github_url }}" target="_blank" class="nav-link"><i class="fab fa-github"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}