{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - {{ page_user }} - User Profile{% endblock %}
{% block content %}
<h1>User Profile - {{page_user.user.first_name}} {{page_user.user.last_name}}</h1>
<hr>
<br>
<div class="card mb-3" >
    <div class="row g-0">
        <div class="col-md-2">
        <!--img src="..." class="img-fluid rounded-start" alt="..."-->
        {% if page_user.profile_pic  %}
            <img src="{{ page_user.profile_pic.url }}" class="rounded-circle" alt="" width="180px" height="180px" >
        {% else %}
            <img src="{% static 'theblog/images/default-profile-picture.png' %}" class="rounded-circle" alt="" width="180px" height="180px" >
        {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>

                {% if page_user.website_url %}
                    <a target="_blank" href="{{ page_user.website_url }}">Website </a> |
                {% endif %}

                {% if page_user.facebook_url %}
                    <a target="_blank" href="{{ page_user.facebook_url }}">Facebook </a> |
                {% endif %}

                {% if page_user.twitter_url %}
                    <a target="_blank" href="{{ page_user.twitter_url }}">Twitter </a> |
                {% endif %}

                {% if page_user.instagram_url %}
                    <a target="_blank" href="{{ page_user.instagram_url }}">Instagram</a> |
                {% endif %}

                {% if page_user.pintterest_url %}
                    <a target="_blank" href="{{ page_user.pintterest_url }}">Pinterest</a> |
                {% endif %}

                </p>
                <p class="card-text" >{{ page_user.bio }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
