{% extends 'base.html' %}
{% block title %}Blog - Add Post{% endblock %}
{% block content %}
<h1>Criar Post</h1>
<br><br>

{% if user.is_staf %}
    
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Postar</button>
        </form>
    </div>

    <script>
        var name = "{{ user.id }}"
        document.getElementById("elder").value = name;
    </script>
{% else %} 

    <h3>Você não tem permissão para criar um Post!</h3>
    <p>Por gentileza, retorne a página Home</p>
    <a href="{% url 'home' %}">Clique aqui para retornar</a>
{% endif %}

{% endblock %}


