{% extends 'base.html' %}
{% block title %}Blog - Category {{ cats }}{% endblock %}

{% block content %}
<h1>Categorias</h1>
<br><br>
    {% if category_posts %}
      

    <ul style="list-style-type: none;">
        {% for post in category_posts %}
            <li class="nav-link-static">
                <p>
                    Nome do Post 
                    <span style="color: transparent;">__________________</span>
                    Identificação    
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                    <span style="color: transparent;">__________________</span>
                    Configuração
                        {% endif %}
                    {% endif %}
                </p>
                <hr style="opacity: 0.5; width: 80%; margin: 0 auto;">
                <br>
            </li>
            <li style="text-align: center;">
                <a class="nav-link" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> <span style="color: transparent;">_______________</span> Por: <a class="nav-link" href="{% url 'show_profile_page'  post.author.profile.id %}"> {{ post.author.first_name }}</a> - Às: {{ post.post_date }}
                
                <small >
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <span style="color: transparent;">__________________</span>
                            <a class="nav-link" href="{% url 'update_post' post.pk %}">Editar</a>
                            <a class="nav-link" href="{% url 'delete_post' post.pk %}">Deletar</a>
                        {% endif %}
                    {% endif %}

                </small>
                <hr style="margin: 1rem 0; color: var(--dark);opacity: 0.7;">
            </li>

        {% endfor %}

    </ul>
    {% else %}

        <ul> 
            {% if user.is_authenticated %}
            <h3>Você não tem post criado nessa categoria, crie um post</h3>
            <a class="btn btn-primary" href="{% url 'add_post' %}">Adicionar Post</a>
            {% else %}
            <h3>Você ainda não tem categoria criada</h3>
            <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

