{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Contact{% endblock %}
{% block content %}

<h1 style="padding-top: 5rem;">Contato</h1>

<div class="banner-contact">
    <img src="{% static 'images/banner.jpg' %}" alt="" srcset="">   
</div>

<div class="contact-data">
    <div class="lado-a">
        {% include 'folium.html' %} 
    </div>

    <div class="lado-b">
        <ul>
            <li><p>José Arialdo Marinho Junior</p></li>
            <li><p>Arquiteto Urbanista - CAU A XXXXXX-X</p></li>
            <li><p>WhatsApp: 41 99272-5388 </p></li>
            <li><p>E-Mail: jose.marinho56@gmail.com</p></li>
            <li><p>Discord: MPollo #5037</p></li>
            <li><p>Github: https://github.com/clowdcap</p></li>
            <li><p>Endereço: Curitiba / PR - Brasil</p>   </li>
        </ul> 
    </div>

    <div class="sep"><p style="color: transparent; padding:.2rem 0">_______________</p></div>

    <div class="lado-c">
       <h4> <i>" Saimos do zero para o zero"</i> </h4>
       <p>(2022, Jose)</p>
    </div>

    <div class="lado-d">
        <h3>JM Arquitetura</h3>
        <p>Arquitetura, Urbanismo e Tecnologia</p>
    </div>

    
</div>


<h2>Entre em Contato</h2>
<br><br>

<div class="form-group">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>


{% endblock %}
