{% extends 'base.html' %}
{% block title %}Blog - Delete Post{% endblock %}

{% block content %}
<h1>Delete Post</h1>
<br><br>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3> Delete: {{ post.title}} ?</h3>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <strong>Are you sure ?</strong>
                <br>
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
    {% else %} 
        <h3>You don't have permission for delete this post !</h3>
        <p>Combe back for initial page </p>
        <a href="{% url 'home' %}">Click here !</a>
    {% endif %}
{% else %} 
    <h1>Delete Post</h1>
    <br><br>
    <h3>You dont have permission for delete this post !</h3>
    <p>Combe back for initial page </p>
    <a href="{% url 'home' %}">Click here !</a>
{% endif %}
{% endblock %}
