{% extends 'base.html' %}
{% block title %}Blog - Delete Post{% endblock %}

{% block content %}
<h1>Deletar Post</h1>
<br><br>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3> Delete: {{ post.title}} ?</h3>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <strong>Você tem certeza que quer deletar esse Post ?</strong>
                <small>Se você deletar, não terá mais como recuperar o mesmo.</small>
                <br>
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
    {% else %} 
        <h3>Você não tem permissão para deletar esse post</h3>
        <p>Volte para pagina incial</p>
        <a href="{% url 'home' %}">Clique aqui para voltar</a>
    {% endif %}
{% else %} 
    <h3>Você não tem permissão para deletar esse post</h3>
    <p>Volte para pagina incial</p>
    <a href="{% url 'home' %}">Clique aqui para voltar</a>
{% endif %}
{% endblock %}
