{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Home Page{% endblock %}
{% block content %}

<section id="posts">
    <div class="container">
        {% if user.profile %}
            <h2 style="margin-top: 150px; text-align: center; font-size: 32px; " > Bem vindo(a) {{ user.first_name }} {{ user.last_name }}</h2>
            <p style=" margin-bottom: 50px; text-align: center; font-size: 22px; color:#cbcbcb ">Blog e portifólio pessoal do José Marinho</p>
        {% elif user.is_authenticated and not user.profile %}
            <h2 style="margin-top: 150px; text-align: center; font-size: 32px; " > Parabéns {{ user.first_name }} {{ user.last_name }}, você criou uma conta na JM Arquitetura</h2>
            <p style=" margin-bottom: 50px; text-align: center; font-size: 22px; color:#acacac ">Agora, você precisa criar seu perfil</p>
            <p style="text-align: center;"><a  style="color: var(--primary-color); font-size:22px;" href="{% url 'create_profile_page' %}" >Clique aqui</a></p>
            <br>
            <hr style="opacity: 0.5; width: 80%; margin: 0 auto;">
            <br><br>
        {% else %}
            <h2 style="margin-top: 150px; text-align: center; font-size: 32px; " > Bem vindo(a) a JM Arquitetura</h2>
            <p style=" margin-bottom: 50px; text-align: center; font-size: 22px; color:#acacac ">Crie uma conta ou faça login para poder interagir com o Blog</p>
            <p style="text-align: center;"><a style="color: var(--primary-color); font-size:22px;" href="{% url 'register' %}" >Registrar</a> <span style="color: transparent;">_____</span>|<span style="color: transparent;">_____</span>    <a style="color: var(--primary-color); font-size:22px;" href="{% url 'login' %}"> Fazer Login</a></p>
            <br>
            <hr style="opacity: 0.5; width: 80%; margin: 0 auto;">
            <br>
            <br>
        {% endif %}  
        <div class="grid">
                <!-- article -->
         

        {% for post in object_list %}
            <br>
            <div class="grid-item">
                <article class="article">
                    <div class="card">
                        <div class="overflow-img" style="text-align: center; margin: auto;">
                            <a href="{% url 'article-detail' post.pk %}"">
                                
                            {% if post.header_image %}   
                                <img src="{{ post.header_image.url }}" style="max-width: 300px; margin: auto;" class="img-fluid" alt="header_article"> <!-- colocar depois a img do post -->
                            {% else %}
                                <img src="{% static 'images/imagem-default.png' %}" style=" max-width: 150px; margin: auto;" class="img-fluid" alt="header_article"> <!-- colocar depois a img do post -->
                                
                            {% endif %}    
                            </a>
                        </div>
                        <div class="card-body text-center px-1">
                            <a href="{% url 'article-detail' post.pk %}"" class="text-title display-1 text-dark">
                                <h3>{{ post.title }}</h3>
                            </a>

                            {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <a class="nav-link" href="{% url 'update_post' post.pk %}">Edit</a>
                                    <a class="nav-link" href="{% url 'delete_post' post.pk %}">Delete</a>
                                {% endif %}
                            {% endif %}
                            <p class="secondary-title text-secondary display-3">
                                <span><i class="fas fa-portrait" style="color:var(--primary-color);"></i> {{ post.author.first_name }}</span>
                                <p class="mt-2 text-secondary">{{ post.snippet|safe }}... <br><br><a class="mt-2 text-secondary" style="color: var(--primary-color); border: 1px solid #c5c5c5; padding: 0.5rem 2rem; border-radius: 8px;" href="{% url 'article-detail' post.pk %}"">Leia mais</a></p>
                            </p>
                        </div>
                    </div>
                </article>
            </div>

        {% empty %}
            <ul style="margin-bottom: 50px; text-align: center;">    
                <h3 style="font-size: 30px;">Não tem post registrado no banco de dados, crie um post aqui</h3>
                <a class="nav-link" style="font-size: 25px; " href="{% url 'add_post' %}">Criar Post</a>
                <br><br><br>
            </ul>
        {% endfor %}
            <!-- .article -->
            
        </div>

        <!--div class="text-center">
            <button class="btn btn-primary secondary-title text-light">Load More Posts...</button>
        </div-->
    </div>
</section>

<!-- .Blog Post Section -->

<!-- Swiper slider -->
<section class="slider">
    <div class="container" style="text-align: center; ">
        <h1 style=" font-size: 32px; color:#4d4d4d">Galeria</h3>
            <br><br><br>
        <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
               
                <div class="swiper-wrapper">

                   
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img1.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- End Slides -->

                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img2.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- End Slides -->

                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img3.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>

                    <!-- End Slides -->

                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img4.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- End Slides -->

                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img5.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- End Slides -->

                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img6.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- End Slides -->

                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{% static 'images/slider/img7.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- End Slides -->

                </div>
            </div>

    </div>
</section>

{% endblock  %}