{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Editar Post{% endblock %}

{% block content %}
<h1>Editar Post</h1>
<br><br>
{% if user.is_authenticated %}
    
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Editar</button>
        </form>
    </div>
{% else %} 
    <h3>Você não tem permissão para editar o post !</h3>
    <p>Volte para pagina incial</p>
    <a href="{% url 'home' %}">Clique aqui para voltar</a>
{% endif %}
{% endblock %}
